../.env
../.env.example
../codacy
../.vscode
../.github
../.gitignore
../alembic
*.html
.env
.env.example

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

#frontend
frontend/.github
frontend/.gitignore
frontend/.next
backend/.coverage
frontend/node_modules
backend/report.html

# Python cache - never commit these
__pycache__/
*.py[cod]
*.pyo
*.pyc
.pytest_cache/

